# PREDICTING BANK PRODUCT SUBSCRIPTION

Authors:

Miguel Ramos Cabañas 100473854

Miguel

## Libraries Import

In [1]:
import pandas as pd

## Data Import

We import the competition dataset where we don´t have information about the target variable. However, we can make predictions with our pre-trained model.

In [2]:
data_test = pd.read_pickle('P1_assignment_dataset_bank_ALL/bank_competition.pkl')

print(data_test.head())

      age          job  marital  education default  balance housing loan  \
5553   43   management  married   tertiary      no       78     yes   no
915    34    housemaid  married  secondary      no        0     yes   no
7652   54   technician  married  secondary      no     3323     yes  yes
5065   43  blue-collar   single    primary      no     -399      no  yes
3338   35  blue-collar  married  secondary      no      262      no   no

       contact  day month  duration  campaign  pdays  previous poutcome
5553  cellular   21   nov        36         1    109         1    other
915    unknown   30   oct       154         1     -1         0  unknown
7652  cellular    8   apr        59         3     -1         0  unknown
5065  cellular   28   jul       662         3     -1         0  unknown
3338  cellular   15   mar       427         1    181         3  success

## Trained model Import